html, body {
    margin: 0;
    padding: 0%;
    background-color: #D94141;
}
.navigasi_item, .navigasi_item_1 {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: block;
    font-size: 14pt;
    padding: 1rem; 
    color: white;
}
.wholemyproject{
    width: 100%;
}
nav {
    background-color: #372523; 
    width: 100%; 
    height: 70px; 
    display: flex; 
    position: sticky;
    top: 0px;
}
.containernav {
    display: flex;
    align-items: center; 
    height: 64px; 
    width: 100%;
}
.navitem{
    display: flex; 
    align-items:center; 
    padding-left: 30px;
    width: 100%;
    margin: 0%;
}
i:hover{
    color: gray;
}
.navigasi_item_1:hover {
    color: black;
    font-size: 150%;
}

.btncontact {
    background-color: black; 
    color: white; 
    border-radius: 20px;
    padding: 10px; 
    text-decoration: none; 
    width: 120px; 
    height: max-content; 
    text-align: center;
}
.btncontact:hover {
    background-color: rgb(214, 214, 214);
    color: red;
} 
form {
    width: 50%;
    flex-direction: column;
    height: 100%;
}
label {
    font-size: 16pt;
    align-items: center;
    vertical-align: middle;
}
.submit-contact {
    background-color: orangered;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    margin-top: 25px;
    margin-right: 0;
    float: right;
}
.submit-contact:hover {
 background-color: rgb(94, 94, 94);
}
input {
border-radius: 10px;
height: 25px;
}

textarea.input-contact{
    resize: none;
    height: 200px;
    border-radius: 10px;
}
.html .body {
    margin: 0%;
    padding: 0%;
}

.perkenalan {
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 0%;

}

.contact1 .contact2 {
    background-color: black;
    border-radius: 20px;
    padding: 4px;
    width: 100px;
    text-decoration: none;
    justify-content: center;
    color: white;
    align-items: center;
    display: flex;
}

.contact2:hover {
    background-color: grey;
}

button:hover {
    background-color: gray;
}

.CV {
    text-decoration: none;
    color: black;
}

.CV:hover {
    color: grey
}

.biodata {
    margin: auto;
    width: 400;
    align-items: center;
    justify-content: left;
    display: flex;
    text-align: left; 
    margin-top: 20px; 
    gap: 20px;
}

#nama_hu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
    padding-top: -50px;
    align-items: flex-start;
}

#profesi_hu {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: -50px;
}

#tanda_pengenal {
    background-color: gainsboro;
    width: 250px;
    border: medium;
    height: max-content;
}

.titlemyproject {
    text-align: center;
    font-size: 20pt;
}

.containerform{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.containerprojectdata {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 3px ;
    justify-content: space-around;
}
.minicontainerdate {
    width: 48%;
    display: flex;
    flex-direction: column;
}

#description {
    height: 200px;
    resize: none;
    border-radius: 15px;
}

.checkbox {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 5px;
}
#nodejs {
    width: 20px;
    justify-content: center;
}
#nextjs {
    width: 20px;
    justify-content: center;
}
#reactjs {
    width: 20px;
    justify-content: center;
}
#typescript {
    width: 20px;
    justify-content: center;
}
.minicheckbox {
    justify-content: center;
    display: flex;
    gap: 15px;
}

.minicontaineruploadimage{
background-color: white; 
border-radius: 15px;
padding: 5px 2px;
align-items: center;
display: flex;
width: 99%;
margin-top: 5px;
justify-content: space-between;/*untuk masing2 objek dempet kiri kanan margin*/
}
#uploadimage {
    padding: 2px 7px;
}

.btnproject {
    margin: auto;
    width: 150px;
    height: 35px;
    border-radius: 15px ;
}

.borderpost {
    width: 30%; 
    justify-content: center; 
    align-items: center; 
    background-color: white; 
    border-radius: 15px;
    display: inline-block;
}

.blog-image {
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.jack{
    width: 50%;
}
.gambarblog {
    text-decoration: none;
    font-size: 18pt;
    color: black;
    font: bold;
    width: 48%;
}
.indeksblog {
    margin-top: -15px; 
    font-size: small;
}
.isi {
    display: block;
    width: 100%;
    max-width: 100%;
    height: min-content;
}
.detail-blog {
    display: flex; 
    width: 100%; 
    align-items: center; 
    margin-top: -5px; 
    gap: 10px;
}
.btn-group {
    display: flex; 
    justify-content: space-between;
    text-align: center;
    margin: auto;
    justify-content: center;
}
.btnedit {
    width: 48%; 
    background-color: black; 
    border-radius: 15px;
    margin: auto; 
    color: white;
    text-align:center ;
}
.btnpost {
    width: 48%; 
    background-color: black; 
    border-radius: 15px;
    color: white;
    text-align: center;
}

.infopost {
    width: 100%;
    height: max-content;
}
.infotime {
    margin-top: -10px;
    font-size: small;
    width: 48%;
}
.content {
    width: 80%; 
    height: max-content; 
    display: block; 
    padding: 5px; 
    margin: auto;
}

.containerhead {
    width: 100%;
    display: flex;
}
.picblog {
    width: 60%;
    height: min-content;
    display: flex;
    justify-content: center;
}
.containerblog{
    width: 40%;
    height: min-content;
    display: flex;
    flex-direction: column;
}
.timeblog {
    height: 120px;
    width: 100%;
    display: flex;
}
.technoblog {
    height: 50%;
    width: 100%;
    display: flex;
    height: 120px;
}
.pitblog {
    width: 320px;
}
.btn-contatme {
    display: flex; 
    justify-content: end; 
    width: 50%; 
    align-items: center;
}
.navigasi_item_phone img{
    width: 15%;
    display: none;
}
.conatinernavphone {
    display: none;
}
.navphone {
    display: none;
}
.conutama {
    width: 100%; display: flex; 
    justify-content: center; 
}
.menuphone {
    display: flex;

}
#menuphonebar{
    width: 100%;
    background-color: gray;
    display: none;
    flex-direction: column;
    position: sticky;
    top: 70px;

}
.containerhunt {
    height: max-content; 
    width: 80%; 
    background-color: azure; 
    margin: auto; 
    margin-top: 100px; 
    display: flex;
    margin-bottom: 100px; 
    border-radius: 15px;
}
.perkenalan {
    width: 59.9%;
}
.itemumenuphonebar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.itemumenuphone{
    font-size: 14pt;
    text-decoration: none;
    color: white;
    align-content: center;
}
.itemumenuphonebar:hover {
    background-color: aquamarine;
}
.barphone{
    list-style: none;
    width: 100%;
}
.barphone a{
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 12pt;
    width: 100%;
}
.containerhutao{
    width: 39.9%; 
    padding: auto;
}
.divham {
    display: none;
}
.biodatagambar {
    margin-top: 50px; 
    display: flex; 
    justify-content: center;
    background-color: rgb(92, 92, 92); 
    background-size: cover; 
    width: max-content;
    padding: auto;
}
.downcv{
    width: 100%;
    display: flex;
}
.gambarhutao{
    width: 180pt;
}

@media only screen and (max-width: 750px) {
    .navigasi_item_phone img{
        width: 15%;
        display: flex;
    }
    .divham {
        display: flex; 
        flex-direction: row; 
        width: 100%;
    }
    .conatinernavphone {
        display: flex ;
        width: 500%;
    }
    .navphone {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        width: 100%;
        padding: 0px 15px;
    }
    .containernav {
        display: none;
    }
    .navitem {
        display: none;
    }
    .btn-contatme {
        display: none;
    }
    .navigasi_item {
        display: none;
    }
    .btncontact {
        display: none;
    }
    .containerprojectdata {
        width: 100%;
    }

    .formproject {
        width: 100%;
    }
    .borderpost {
        width: 45%;
        gap: 10%;
    }
    .containerhunt {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .perkenalan {
        width: 100%;
        text-align: justify;
        height: fit-content;
        padding: 0;
    }
    .perkenalan p{
        text-align: justify;
        max-width: 100%;
        display: block;
        padding: 15px;
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .contact1 {
        padding-left: 15px;
    }
    .biodata{
        justify-content: center;
        display: flex;
    }
    .gambarhutao{
        width: 40%;
        height: auto;
        display: block;

    }
    .biodatagambar{
        width: 100%;
        background-color: white;
    }
    .containerhutao{
        width: 100%;
    }
    .downcv{
        margin-bottom: 15px;
    }
}
